/*Properti dimensi untuk keseluruhan*/
*,
*::before,
*::after{
    box-sizing: border-box;
}
/**/
/*Style Body*/
body{
    font-family: 'Quicksand',sans-serif;

    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}
/**/
/*Navigasi Style*/
/*tidak boleh ada spasi saat penulisan ELEMENT.Class contoh = header.navbar-container*/
header.navbar-container{
    width: 100%;
    max-width: 1200px;
    padding-block: 1rem;
    margin-inline: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 9999; /* z-index agar navbar selalu berada pada lapisan/tumpukan teratas*/
}
header.navbar-container .logo img{
    width: 150px;
}

header.navbar-container .nav-list ul{
    padding-left: 0;
    
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li{
    list-style-type: none;
}
/*ini efek saat navigasi diarahkan dengan cursor*/
header.navbar-container .nav-list li a{
    padding: 0.5rem 1.5rem;
    border-radius: 5px;

    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;

    transition: all 0.2 ease-in-out; /*durasi transisi cursor hover*/
}
/*ini efek saat navigasi diarahkan dengan cursor*/
header.navbar-container .nav-list li:hover a{
    background-color: #425c77;
    color: white;
}
/**/
/*main Style*/
 main{
    flex: 1;

    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 4rem;

    display: flex;
    align-items: center; /*arah untuk icon aside*/

 }

 /*class="content" style*/
 main .content{
    flex: 1;
    display: flex;
    align-items: center;
 }

 main .content .content-description{ /*Style keseluruhan content*/
    flex: 1 1;
 }

 main .content .content-description .title{ /*Style title pada class content-description*/
    margin-block: 1rem;
    font-size: 3.5rem;
 }

 main .content .content-description p{ /*style paragraf pada class content-description*/
    font-size: 1.2rem;
    line-height: 1.7rem;
 }

 main .content .content-description button{ /*Style button "Lebih lanjut"*/
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 9999px;
    margin-block-start: 1rem;

    background-color: #2d3e50;

    font-family: 'Quicksand' sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: white;

    cursor: pointer;
    transition: all 0.15s ease-in;
 }

 main .content .content-description button:hover{ /*Style hover untuk button*/
    border: 3px solid #2d3e50;
    background-color: transparent;

    color: #2d3e50;
 }

 main .content .content-image{ /*Style divisi pada logo G*/
    flex: 1;
    display: flex;
 }

 main .content .content-image img{ /*style untuk Logo G*/
    width: 300px;
    min-width: 250px;
    margin: auto;
 }
 /**/
 /*Aside Style*/
 main aside{ /*mengatur posisi aside*/
   position: fixed;
   inset-block: 0;
   inset-inline-end: 0;
 }

 main aside .social-media{
   height: 100%;
   display: flex; /*mengatur aside menjadi FLEXbox*/
 }

 main aside .social-media ul{ /*Mengatur UL aside pada class= 'social-media' background icon */
   padding: 1.5rem 1rem;
   border-top-left-radius: 12px;
   border-bottom-left-radius: 12px;
   margin: auto;
   background-color: #2d3e50;

   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
 }

 main aside .social-media li{ /*Style untuk LIst pada susunan ICON */
   list-style-type: none;
 }

 main aside .social-media li a{ /*Style pada ICON / isi dari list diatas*/
   color: white;
   text-decoration: none;
   font-size: 1.5rem;

   transition: all 0.1s ease-in-out;
 }

 main aside .social-media li a:hover{ /*Style hover pada Aside*/
   color: #89b0d9;
 }
 /**/
 /*Responsivitas website pada semua tipe device*/

 /*Medium device untuk (768px kebawah)*/
 @media screen and (max-width: 768px) {
   header.navbar-container{
      flex-direction: column;
   }

   header.navbar-container .nav-list ul{
      flex-wrap: wrap;
      column-gap: 0.5rem;
   }

   main{
      padding: 1rem 3rem;
   }

   main .content{
      flex-direction: column;
      gap: 2rem;
   }

   main .content .content-description .title{
      font-size: 3rem;
   }
   
   main .content .content-description p{
      font-size: 1rem;
   }

   main .content .content-image{
      order: -1; /*default value : 0*/ /* untuk mengatur element turun lebih dulu saat berada pada ukuran layar berbeda*/
   }
 }